<?xml version="1.0"?>

<launch>
  <node pkg="robot_localization" type="ekf_localization_node" name="ekf_localization" clear_params="true" output="screen">

        <param name="frequency" value="50"/>
        <param name="sensor_timeout" value="0.1"/>
        <param name="two_d_mode" value="true"/>

        <param name="odom_frame" value="odom"/>
        <!--TODO base_link TEST THIS -->
        <param name="base_link_frame" value="base_footprint"/>

        <param name="world_frame" value="odom"/>
        <param name="map_frame" value="map"/>
        
        <param name="transform_time_offset" value="0.0"/>

        <param name="odom0" value="/odom"/>
        <param name="imu0" value="/imu"/>
        <param name="range_sensor1" value="/ppp/range_sensor1"/>
        <param name="range_sensor2" value="/ppp/range_sensor2"/>
        <param name="range_sensor3" value="/ppp/range_sensor3"/>

        <remap from="/ppp/cmd_vel" to="/cmd_vel" />
        <param name="use_control" value="true"/> 

        <rosparam param="control_config">[true,  false, false,
                                          false, false, true]</rosparam>
        
        <rosparam param="acceleration_limits">[1, 0.0, 0.0,
                                              0.0, 0.0, 3.2]</rosparam>

        <rosparam param="process_noise_covariance"> 
        [0.05, 0,    0,    0,    0,    0,    0,     0,     0,    0,    0,    0,    0,    0,    0,
        0,    0.05, 0,    0,    0,    0,    0,     0,     0,    0,    0,    0,    0,    0,    0,
        0,    0,    0.06, 0,    0,    0,    0,     0,     0,    0,    0,    0,    0,    0,    0,
        0,    0,    0,    0.03, 0,    0,    0,     0,     0,    0,    0,    0,    0,    0,    0,
        0,    0,    0,    0,    0.03, 0,    0,     0,     0,    0,    0,    0,    0,    0,    0,
        0,    0,    0,    0,    0,    0.06, 0,     0,     0,    0,    0,    0,    0,    0,    0,
        0,    0,    0,    0,    0,    0,    0.025, 0,     0,    0,    0,    0,    0,    0,    0,
        0,    0,    0,    0,    0,    0,    0,     0.025, 0,    0,    0,    0,    0,    0,    0,
        0,    0,    0,    0,    0,    0,    0,     0,     0.04, 0,    0,    0,    0,    0,    0,
        0,    0,    0,    0,    0,    0,    0,     0,     0,    0.01, 0,    0,    0,    0,    0,
        0,    0,    0,    0,    0,    0,    0,     0,     0,    0,    0.01, 0,    0,    0,    0,
        0,    0,    0,    0,    0,    0,    0,     0,     0,    0,    0,    0.02, 0,    0,    0,
        0,    0,    0,    0,    0,    0,    0,     0,     0,    0,    0,    0,    0.01, 0,    0,
        0,    0,    0,    0,    0,    0,    0,     0,     0,    0,    0,    0,    0,    0.01, 0,
        0,    0,    0,    0,    0,    0,    0,     0,     0,    0,    0,    0,    0,    0,    0.015]</rosparam>

        <rosparam param="initial_estimate_covariance"> 
        [1e-9, 0,    0,    0,    0,    0,    0,    0,    0,    0,     0,     0,     0,    0,    0,
        0,    1e-9, 0,    0,    0,    0,    0,    0,    0,    0,     0,     0,     0,    0,    0,
        0,    0,    1e-9, 0,    0,    0,    0,    0,    0,    0,     0,     0,     0,    0,    0,
        0,    0,    0,    1e-9, 0,    0,    0,    0,    0,    0,     0,     0,     0,    0,    0,
        0,    0,    0,    0,    1e-9, 0,    0,    0,    0,    0,     0,     0,     0,    0,    0,
        0,    0,    0,    0,    0,    1e-9, 0,    0,    0,    0,     0,     0,     0,    0,    0,
        0,    0,    0,    0,    0,    0,    1e-9, 0,    0,    0,     0,     0,     0,    0,    0,
        0,    0,    0,    0,    0,    0,    0,    1e-9, 0,    0,     0,     0,     0,    0,    0,
        0,    0,    0,    0,    0,    0,    0,    0,    1e-9, 0,     0,     0,     0,    0,    0,
        0,    0,    0,    0,    0,    0,    0,    0,    0,    1e-9,  0,     0,     0,    0,    0,
        0,    0,    0,    0,    0,    0,    0,    0,    0,    0,     1e-9,  0,     0,    0,    0,
        0,    0,    0,    0,    0,    0,    0,    0,    0,    0,     0,     1e-9,  0,    0,    0,
        0,    0,    0,    0,    0,    0,    0,    0,    0,    0,     0,     0,     1e-9, 0,    0,
        0,    0,    0,    0,    0,    0,    0,    0,    0,    0,     0,     0,     0,    1e-9, 0,
        0,    0,    0,    0,    0,    0,    0,    0,    0,    0,     0,     0,     0,    0,    1e-9]</rosparam>

        <rosparam param="odom0_config">[true,  true,  false,
                                        false, false, true,
                                        true,  false, false,
                                        false, false, true,
                                        false, false, false]</rosparam>
        <rosparam param="imu0_config">[false, false, false,
                                      false, false, true,
                                      false, false, false,
                                      false, false,  true,
                                      true,  false,  false]</rosparam>
        
        <rosparam param="range_sensor1_config">[false, true, false,
                                        false, false,  true, 
                                        false, true, false, 
                                        false, false,  true,
                                        false, false, false]</rosparam>
        
        <rosparam param="range_sensor2_config">[false, true, false,
                                        false, false,  true, 
                                        false, true, false, 
                                        false, false,  true,
                                        false, false, false]</rosparam>
        
        <rosparam param="range_sensor3_config">[true, false, false,
                                        false, false,  false, 
                                        true, false, false, 
                                        false, false,  false,
                                        false, false, false]</rosparam>

        <param name="odom0_differential" value="false"/>
        <param name="imu0_differential" value="true"/>
        <param name="range_sensor1_differential" value="true"/>
        <param name="range_sensor2_differential" value="true"/>
        <param name="range_sensor3_differential" value="true"/>

        <param name="odom0_relative" value="true"/>
        <param name="imu0_relative" value="false"/>
        <param name="range_sensor1_relative" value="false"/>
        <param name="range_sensor2_relative" value="false"/>
        <param name="range_sensor3_relative" value="false"/>

        <param name="imu0_remove_gravitational_acceleration" value="true"/>

        <param name="print_diagnostics" value="true"/>

        <param name="odom0_queue_size" value="50"/>
        <param name="imu0_queue_size" value="50"/>
        <param name="range_sensor1_queue_size" value="50"/>
        <param name="range_sensor2_queue_size" value="50"/>
        <param name="range_sensor3_queue_size" value="50"/>

  </node>
</launch>