<launch>
  <param name="/use_sim_time" value="true"/>
  
  <!-- <include file="$(find odom_publisher)/launch/odom-pub.launch"/> -->
  <include file="$(find ppp90_description)/launch/display.launch"/>

  <!-- <include file="$(find path_creator)/path_launcher/launch/path_creator.launch"/> -->
  <node name="map_server" pkg="map_server" output="screen"  type="map_server" args="$(find nav)/map/new_mymap.yaml"/>

  <node name="reset_odometry" pkg="nav" output="screen" type="reset_odometry.py">
  </node>


  <include file="$(find nav)/launch/amcl.launch"/>
    
  <!-- <include file="$(find nav)/launch/localization.launch"/> -->

  <node pkg="tf" type="static_transform_publisher" name="base_footprint_to_base_link"
    args="0 0 0 0 0 0 /base_footprint /base_link 40" />
    
  <node pkg="rosservice" type="rosservice" name="global_loc" args="call --wait /global_localization" />
  
  <include file="$(find nav)/launch/move.launch"/>

</launch>
