<launch>

  <rosparam file="$(find ppp90_description)/launch/controller.yaml" command="load"/>
  <node args="Rev1_position_controller diff_drive_controller joint_state_controller "
  ns="/" name="controller_spawner" output="screen" pkg="controller_manager" respawn="false" type="spawner"/>
<!-- Rev4_position_controller -->
</launch>