<launch>

  <rosparam file="$(find ppp90_description)/launch/controller.yaml" command="load"/>

  <node args="joint_state_controller diff_drive_controller"
  ns="/" name="controller_spawner" output="screen" pkg="controller_manager" respawn="false" type="spawner"/>
<!--Rev1_position_controller  Rev4_position_controller  -->

  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" respawn="false" output="screen">
    <param name="robot_description" command="$(find xacro)/xacro '$(find ppp90_description)/urdf/ppp90.xacro'"/>
    <!-- <remap from="/joint_states" to="/mybot/joint_states" /> -->
  </node>

</launch>