<launch>
    <arg default="$(find ppp90_description)/urdf/ppp90.xacro" name="model"/>
    <param command="$(find xacro)/xacro --inorder $(arg model)" name="robot_description"/>
    <rosparam file="$(find ppp90_description)/launch/controller.yaml" command="load"/>
    <node args="joint_state_controller Rev1_position_controller Rev4_position_controller"
        name="controller_spawner" output="screen" 
        pkg="controller_manager" respawn="false" type="spawner"/>
    
    <!-- Rev14_position_controller Rev15_position_controller Rev26_position_controller Rev27_position_controller Rev28_position_controller Rev29_position_controller -->
    <node name="robot_state_publisher" output="screen" pkg="robot_state_publisher"
     respawn="false" type="robot_state_publisher">

        <remap from="/joint_states" to="/ppp/joint_states"/>
    </node>

</launch>